<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocketIO en Flask</title>
</head>

<body>
    <h1>Python && SocketIO</h1>

    <h2 id="anuncio"></h2>
    <h2 id="count-combinations"></h2>
    <h3 id="combination"></h3>

    <table id="board">
        <thead>
            <tr id="letters"></tr>
        </thead>

        <tbody>
            <tr id="r0"></tr>
            <tr id="r1"></tr>
            <tr id="r2"></tr>
            <tr id="r3"></tr>
            <tr id="r4"></tr>
        </tbody>
    </table>

    <ul id="messages">
        <input type="text" id="playername">
        <button type="button" id="send">Send</button>
        <br/>
        <input type="radio" name="mode" id="line5" value="1" checked>
        <label for="line5">Cinco en fila</label>
        <br/>
        <input type="radio" name="mode" id="full" value="2">
        <label for="full">Lleno</label>

    </ul>

    <!--   JQuery  libreria -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <!--   SocketIO  libreria -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" charset="UTF-8"></script>

    <script>
        
        const socket = io(); // Funcion io() 

        let my_board;

        //Limpia el tablerp

        const clear_display_board = () =>{

            let i=0;

            $('#letters').text('')
            while (i < 5) {
                $(`#r${i}`).text('')
                i++
            }
        }


        //Cambia el tablero 
        const print_board = () => {

            let i = 0;

            clear_display_board()

            for (let x in my_board) {
                $('#letters').append(`<th>${x}</th>`)
            }


            for (let letter in my_board) {
                i = 0
                while (i < 5) {
                    $(`#r${i}`).append(`<td>${my_board[letter][i]}</td>`)
                    i++
                }
            }
        }

        //Evento que sirve de comprobacion para coneccion
        socket.on('connect', function () {
            console.log('Conectado')
        })

        socket.on('disconnect', function () {

            console.log('Desconectado')
        })


        //Evento de recibir un mensaje del servidor
        socket.on('message', (msg) => {
            $('#messages').append('<li>' + msg + '</li>')

        });

        //Evento cuando el servidor envia una combinacion en pleno juego
        socket.on('send_combination', (msg) => {
            
            $('#combination').text(`Casilla: ${msg.letter} ${msg.number}`);
            $("#count-combinations").text(`Solo quedan ${msg.num_com} fichas`);
            i = 0
            while (i < 5) {
                if (my_board[msg.letter][i] == msg.number){
                    my_board[msg.letter][i]="*";
                    print_board();
                    break;
                }
                i++
            }
            

        })

        //Cuando el servidor finaliza el juego
        socket.on('end_game', (msg) => {

            $("#send").prop("disabled", false)
            $("#playername").prop("disabled", false)

            $("#anuncio").text(msg)

            $('#combination').text('')
            $("#count-combinations").text('');
            
        });

        //Anuncio a todos los conectados
        socket.on('anuncio', (msg) => {
            $("#anuncio").text(msg)

        });


        //Cuando el servidor acepta la solicitud para unirse al juego
        socket.on('accept_player', (data) => {
            my_board = data["board"]
            print_board()
        });

        //El servidor une automaticamente al conectado que estaba en espera
        socket.on('automatic_join', (data) => {
            $('#messages').append(`<li>Automatic joid</li>`)
            socket.emit('join', {
                "id": data.id,
                "playername": data.playername
            });
        });

        //Cuando el servidor declara que se inicio el juego
        socket.on('startGame', (msg) => {
            $("#anuncio").text(msg)
            // la modalidad depende del valor del radio llamado mode que fue seleccionado
            socket.emit('game_on_going',$("input:radio[name='mode']:checked").val()) 
        })

        $('#send').on('click', () => {
            $("#send").prop("disabled", true)
            $("#playername").prop("disabled", true)
            const id_client = socket.id
            //Enviando solicitud para unirse al juego
            socket.emit('join', {
                "id": id_client,
                "playername": $('#playername').val()
            });
        });



    </script>
    <!--





# Aceptar carton emitido por el servidor


# Llenar el carton


# Avisar a servidor que gano


-->

</body>

</html>